---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import PhotoGrid from '../components/PhotoGrid.astro';
import About from '../components/About.astro';
import Code from '../components/Code.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Hero />
  <main id="main">
    <PhotoGrid />
    <About />
    <Code />
    <Contact />
  </main>
  <Footer />
</Base>
